/* Home Page */
.mainPages {
    margin: 0;
    padding: 0;
    background-color: black;
    background: url(assets/images/documentarybackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}

html::-webkit-scrollbar {
        display: none;
    }

header {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: rgb(56, 51, 51);
    color: white;
    font-family: 'Press Start 2P';
    position: sticky;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
}
header h2 {
    font-size: clamp(0.8rem, 5vw, 1.3rem);
    margin: 0;
    padding: 10px;
}

header a {
    color: rgb(208, 197, 192);
    text-decoration: none;
    font-size: 16px;
    font-family: "Tiny5", monospace;
    margin: auto 10px auto auto;
}

header a:hover {
    color: rgb(65, 186, 241);
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(56, 51, 51);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.menu span {
    display: block;
    height: 3px;
    width: 100%;
}

@media (max-width: 768px) {
  header a {
    display: none;
  }

  .menu {
    display: flex;
  }
}

#bodySections {
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px) {
    #bodySections {
        flex-direction: column;
    }
}

#profile {
    display: flex;
    align-items: center;
    margin: 10px;
    min-width: 10rem;
    width: 20rem;
    height: auto;
    max-width: 20rem;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 10px;
    background-color: rgba(56, 51, 51, 0.8);
    overflow: hidden;
    margin-right: 0.9rem;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
}

#profilePic {
    min-width: none;
    min-height: auto;
    max-width: 240px;
    max-height: 135px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

#profile h3 {
    margin: 0.5rem 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#profile p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: rgb(208, 197, 192);
    font-size: 14px;
}

.aboutProfile {
    font-size: 0.9rem;
}

#profile a {
    color: rgb(65, 186, 241);
    text-decoration: none;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 20rem;
    width: 90%;
    height: auto;
    max-width: 60rem;
    padding: 10px;
    margin-left: 0.9rem;
}

#contents h1 {
    text-align: center;
    font-family: "tiny5", monospace;
    color: white;
    font-size: 60px;
    padding: 10px;
    margin: 20px 0px 10px 0px;
    text-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
}

#projects {
    background-color: rgb(56, 51, 51);
    border: 0.5px solid black;
    margin: 10px;
    width: 100%;
    height: 90%;
    width: 90%;
    min-width: 10rem;
    max-width: 45rem;
    max-height: 15rem;
    color: white;
}

#documentaries {
    background-color: rgb(56, 51, 51);
    border: 0.5px solid black;
    margin: 10px;
    width: 90%;
    height: 90%;
    min-width: 10rem;
    max-width: 45rem;
    max-height: 15rem;
    color: white;
    overflow: hidden;
}
.contentPreview {
    margin: 10px;
    width: 90%;
    height: 5rem;
    min-width: 10rem;
    max-width: 45rem;
    max-height: 5rem;
    color: rgb(208, 197, 192);
    overflow: hidden;
    box-shadow:
  0 4px 6px rgba(255, 255, 255, 0.15),
  0 10px 20px rgba(200, 200, 200, 0.12);
  cursor: pointer;
}
.contentPreview h4 {
    margin: 5px;
    font-family: "noto sans mono", monospace;
}
.contentPreview p {
    margin: 10px;
    font-size: 14px;
}
.contentPreview:hover {
    scale: 1.02;
    transition-duration: 0.3s;
    color: rgb(164, 211, 233);
}
.walkingCrusion {
    height: auto;
    width: auto;
    align-content: center;
}
.walkingCrusion video{
    width: 30%;
    height: 30%;
    position: absolute;
    left: 17%;
    top: 70px;
    z-index: -5;
}  

/* Documentaries Page */

.documentaries {
    margin: 0;
    padding: 0;
    background-color: black;
    background: url(assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}
#docBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 20rem;
    width: 60rem;
    height: auto;
    max-width: 60rem;
    padding: 10px;
}
#documentariesIntro {
    margin: 10px;
    width: 100%;
    height: auto;
    min-width: 10rem;
    max-width: 100%;
    max-height: auto;
    color: rgb(208, 197, 192);
    padding: 10px;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
}   
.documentaryEntry {
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
    margin: 10px;
    width: 100%;
    height: auto;
    width: 100%;
    min-width: 10rem;
    max-width: 100%;
    max-height: auto;
    color: white;
    cursor: pointer;
}
.documentaryEntry p, .documentaryEntry h2, .documentaryEntry {
    transition-duration: 0.3s;
}
.documentaryEntry:hover p, .documentaryEntry:hover h2, .documentaryEntry:hover {
    color: rgb(164, 211, 233);
    transform: scale(1.02);
    transition-duration: 0.3s;
}
.documentaryEntry h2 {
    padding: 20px 20px 0px 20px;
    color: rgb(208, 197, 192);
    font-family: "Press Start 2P", cursive;
}
.documentaryEntry p {
    margin-top: 10px;
    padding: 5px 20px 10px 20px;
    color: rgb(208, 197, 192);
}

#backToDocumentaries {
    left: -39%;
    position: relative;
    color: rgb(208, 197, 192);
    text-decoration: none;
    font-size: 32px;
    font-family: "Tiny5", monospace;
    margin: 10px;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
    padding: 10px 10px 10px 20px;
}
.document h2 {
    font-family: "tiny5", monospace;
    margin-bottom: 2px;
}
#docDate {
    font-family: "tiny5", monospace;
    margin-top: 0px;
}
#backToDocumentaries:hover {
    color: rgb(65, 186, 241);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

/* Projects Page */
.projects {
    margin: 0;
    padding: 0;
    background-color: black;
    background: url(assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}
#projectsBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 20rem;
    width: 60rem;
    height: auto;
    max-width: 60rem;
    padding: 10px;
}
#projectsIntro {
    margin: 10px;
    width: 100%;
    height: auto;
    min-width: 10rem;
    max-width: 100%;
    max-height: auto;
    color: rgb(208, 197, 192);
    padding: 10px;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
}   
.projectEntry {
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
    margin: 10px;
    width: 100%;
    height: auto;
    width: 100%;
    min-width: 10rem;
    max-width: 100%;
    max-height: auto;
    color: white;
    cursor: pointer;
}
.projectEntry p, .projectEntry h2, .projectEntry {
    transition-duration: 0.3s;
}
.projectEntry:hover p, .projectEntry:hover h2, .projectEntry:hover {
    color: rgb(164, 211, 233);
    transform: scale(1.02);
    transition-duration: 0.3s;
}
.projectEntry h2 {
    padding: 20px 20px 0px 20px;
    color: rgb(208, 197, 192);
    font-family: "Press Start 2P", cursive;
}
.projectEntry p {
    margin-top: 10px;
    padding: 5px 20px 10px 20px;
    color: rgb(208, 197, 192);
}
