.mainPages {
    margin: 0;
    padding: 0;
    background-color: black;
    background: url(assets/images/documentarybackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}

html::-webkit-scrollbar {
        display: none;
    }

header {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    background-color: rgb(56, 51, 51);
    color: white;
    font-family: 'Press Start 2P';
    position: sticky;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
}
header h1 {
    margin: 0;
    padding: 10px;
}

header a {
    color: rgb(208, 197, 192);
    text-decoration: none;
    font-size: 16px;
    font-family: "Tiny5", monospace;
    margin: auto 10px auto auto;
}

header a:hover {
    color: rgb(65, 186, 241);
    transform: scale(1.1);
    transition-duration: 0.3s;
}

#bodySections {
    display: flex;
    flex-direction: row;
}

#profile {
    display: flex;
    align-items: center;
    margin: 10px;
    min-width: 10rem;
    width: 20rem;
    height: auto;
    max-width: 30rem;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 10px;
    background-color: rgba(56, 51, 51, 0.8);
    overflow: hidden;
    margin-right: 0.9rem;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
}

#profilePic {
    min-width: none;
    min-height: auto;
    max-width: 240px;
    max-height: 135px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

#profile h3 {
    margin: 0.5rem 0;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#profile p {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    color: rgb(208, 197, 192);
    font-size: 12px;
}

.aboutProfile {
    font-size: 0.9rem;
}

#profile a {
    color: rgb(65, 186, 241);
    text-decoration: none;
}

#projectsID {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 20rem;
    width: 60rem;
    height: auto;
    max-width: 60rem;
    padding: 10px;
    margin-left: 0.9rem;
}

#projectsID h1 {
    text-align: center;
    font-family: 'Press Start 2p', cursive;
    color: white;
    background-color: rgb(56, 51, 51);
    padding: 10px;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
}

#projects {
    background-color: rgb(56, 51, 51);
    border: 0.5px solid black;
    margin: 10px;
    width: 100%;
    height: 21rem;
    width: 40rem;
    min-width: 10rem;
    max-width: 50rem;
    max-height: 21rem;
    color: white;
}
.walkingCrusion {
    height: auto;
    width: auto;
    align-content: center;
}
.walkingCrusion video{
    max-width: 70%;
    max-height: 70%;
    position: relative;
    left: 28%;
}  

/* Documentaries Page */

.documentaries {
    margin: 0;
    padding: 0;
    background-color: black;
    background: url(assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Noto Sans Mono', monospace;
}
#docBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    min-width: 20rem;
    width: 60rem;
    height: auto;
    max-width: 60rem;
    padding: 10px;
}
#documentariesIntro {
    margin: 10px;
    width: 100%;
    height: auto;
    min-width: 10rem;
    max-width: 100%;
    max-height: auto;
    color: rgb(208, 197, 192);
    padding: 10px;
    box-shadow:
  0 4px 6px rgba(0, 0, 0, 0.3),
  0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(56, 51, 51, 0.8);
}   
